<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Maintenance Page</title>
    </head>
    <body>
        <h1>Hold tight</h1>
        <p>Mooditu po</p>
    </body>
</html>